@charset "UTF-8";


@media screen and (min-width:768px){
    #burguer{
        display: none;
    }
    #itens{
        display: block;
        width: 478px;
    }
    #itens > ul > li{
        display: inline-block;
    }
    #itens a{
        border-top:0px;
    }
}
